html
{
	height:100%;
}

body
{
	background-color:#123;
	height:100%;
	color:#050505;
}

#pageBody h1
{
	color: #1C3A58;
}

h3
{
	margin-top:-5px;
	margin-bottom:-5px;
	color:#123;
}

#main
{
	position:relative;
	top:5%;
	width:70%;
	min-width: 800px;
	height:78%;
	background-color:#CCC;
	margin:auto;
}

#header
{
	width:100%;
	height:30%;	
	min-height:130px;
	background-color:#050505;
	color:#CCC;
}

#brief
{
	height:100%;
	width: 58%;
	display: table;
	float:left;
	padding-left: 2%;
}

#innerbrief
{
	display: table-cell;
	vertical-align:middle;
}


#title
{
 	width:38%;
 	float:right;
 	text-align:right;
 	padding-right:2%;
}

#title a
{
	text-align:right;
	float:right;
}



#navbar
{
	margin-bottom: 0;
	background-color: #123;
	border-radius: 0;
	border-color: #123;
	border-bottom-color: #ccc;
}

.navbar-default ul
{
	background-color: #333;
}

#navbar li
{
	background-color: #123;
}

#navbar .active a
{
	background-color: #ccc;
	color:#000;
}

#navbar a
{
	color: #fff;
}

#pageBody
{
	height: 75%;
	background-color:#CCC;
	min-height: 390px;
}
